{% include "file_header.j2" %}


class {{ definition.class_name }}(literal.Action):
    _typed_name: ClassVar[str] = "{{ definition.typed_name }}"
{% if definition.implied_qualities %}
    implied_qualities: ClassVar[tuple[literal.Constraint, ...]] = (
{% for class_reference in definition.implied_qualities %}
        {{ class_reference.module_name }}.{{ class_reference.class_name }},
{% endfor %}
    )
{% endif %}

    def __init__(self):
        super().__init__(
            interface_positions=[
{% for iface in definition.interface_positions %}
{% if iface.constraints %}
                literal.InterfacePosition(
                    "{{ iface.typed_name }}",
                    constraints=(
{% for class_reference in iface.constraints %}
                        {{ class_reference.module_name }}.{{ class_reference.class_name }},
{% endfor %}
                    ),
                ),
{% else %}
                literal.InterfacePosition("{{ iface.typed_name }}"),
{% endif %}
{% endfor %}
            ],
            trigger_position_name="{{ definition.trigger_position_name }}",
        )

    @override
    def execute(self):
{% set statements = definition.body_statements %}
{% include "action_statements.j2" %}
