{% include "file_header.j2" %}


class {{ definition.class_name }}(literal.Action):
    _typed_name: ClassVar[str] = "{{ definition.typed_name }}"
{% if definition.has_body %}

    def __init__(self):
        super().__init__(
            interface_positions=[
{% for iface in definition.interface_positions %}
{% if iface.constraint_refs %}
                literal.InterfacePosition(
                    "{{ iface.typed_name }}",
                    constraints=[
{% for ref in iface.constraint_refs %}
                        {{ ref.module_name }}.{{ ref.class_name }},
{% endfor %}
                    ],
                ),
{% else %}
                literal.InterfacePosition("{{ iface.typed_name }}"),
{% endif %}
{% endfor %}
            ],
            trigger_position_name="{{ definition.trigger_position_name }}",
        )

    @override
    def execute(self):
{% set statements = definition.body_statements %}
{% include "action_statements.j2" %}
{% endif %}
