{% macro pos(expr, extra_indent="") -%}
{{ expr.start }}
{%- for e in expr.chain_elements -%}
{% if e.accessor == ChainAccessor.POSITION_FROM_POSITION -%}
.dimension_point.get_position(
{{ extra_indent }}            "{{ e.typed_name }}"
{{ extra_indent }}        )
{%- elif e.accessor == ChainAccessor.ACTION_FROM_POSITION -%}
.dimension_point.get_action(
{{ extra_indent }}            "{{ e.typed_name }}"
{{ extra_indent }}        )
{%- elif e.accessor == ChainAccessor.POSITION_FROM_ACTION -%}
.get_interface_position(
{{ extra_indent }}            "{{ e.typed_name }}"
{{ extra_indent }}        )
{%- elif e.accessor == ChainAccessor.IMPLIED_ACTION -%}
.on_dimension_point.get_action(
{{ extra_indent }}            "{{ e.typed_name }}"
{{ extra_indent }}        )
{%- elif e.accessor == ChainAccessor.IMPLIED_POSITION -%}
.on_dimension_point.get_position(
{{ extra_indent }}            "{{ e.typed_name }}"
{{ extra_indent }}        )
{%- endif %}
{%- endfor %}
{%- endmacro %}
{% for stmt in statements %}
{% if stmt.kind == StatementKind.LOCAL_POSITION %}
{% if stmt.constraints %}
        {{ stmt.local_var_name }} = literal.LocalPosition(
            "{{ stmt.local_typed_name }}",
            constraints=(
{% for class_reference in stmt.constraints %}
                {{ class_reference.module_name }}.{{ class_reference.class_name }},
{% endfor %}
            ),
        )
{% else %}
        {{ stmt.local_var_name }} = literal.LocalPosition("{{ stmt.local_typed_name }}")
{% endif %}
{% elif stmt.kind == StatementKind.CREATE_DIMENSION_POINT %}
        {{ pos(stmt.position) }}.create_dimension_point()
{% elif stmt.kind == StatementKind.DESTROY_DIMENSION_POINT %}
        {{ pos(stmt.position) }}.destroy_dimension_point()
{% elif stmt.kind == StatementKind.MOVE_DIMENSION_POINT %}
{% if stmt.to_position.chain_elements %}
        {{ pos(stmt.position) }}.move_dimension_point_to(
            {{ pos(stmt.to_position, "    ") }}
        )
{% else %}
        {{ pos(stmt.position) }}.move_dimension_point_to({{ pos(stmt.to_position) }})
{% endif %}
{% endif %}
{% endfor %}
