

{% from "action_execution_init.j2" import action_execution_init %}
{% from "action_fragments.j2" import action_fragment_methods %}
{% from "action_trigger.j2" import action_trigger_methods %}
{% from "caller_inputs.j2" import caller_input_methods %}
{% macro action_execution(action_class_name, execution) %}

@final
class {{ execution.execution_class_name }}:
{{ action_execution_init(action_class_name, execution) -}}
{{ caller_input_methods(execution.caller_inputs) -}}
{{ action_fragment_methods(execution.fragments) -}}
{{ action_trigger_methods(execution.action_triggers) -}}
{% endmacro %}
