{% from "action_statements.j2" import action_statements %}
{% from "method_invocation.j2" import invoke_method %}
{% macro action_fragment_methods(fragments) %}
    {% for fragment in fragments %}

    def {{ fragment.method_name }}(self):
        {% if fragment.dependency_count > 1 %}
        if not self.join_for_{{ fragment.method_name }}.arrive():
            return
        {% endif %}
{{ action_statements(fragment.statements) -}}
        {% for init_method_name in fragment.triggered_action_successor_init_method_names %}
        self.{{ init_method_name }}()
        {% endfor %}
        {% for successor_method_name in fragment.successor_fragment_method_names %}
            {% set has_later = not loop.last or fragment.triggered_input_successor_method_names or fragment.guarantee_publication_names or fragment.execution_input_successor_method_names %}
        {{ invoke_method(successor_method_name, submit=has_later) }}
        {% endfor %}
        {% for method_name in fragment.triggered_input_successor_method_names %}
            {% set has_later = not loop.last or fragment.guarantee_publication_names or fragment.execution_input_successor_method_names %}
        {{ invoke_method(method_name, submit=has_later) }}
        {% endfor %}
        {% for publication_name in fragment.guarantee_publication_names %}
            {% if loop.last and not fragment.execution_input_successor_method_names %}
        self.scheduler.continue_with(self.guarantees.{{ publication_name }})
            {% else %}
        self.scheduler.submit_all(self.guarantees.{{ publication_name }})
            {% endif %}
        {% endfor %}
        {% for method_name in fragment.execution_input_successor_method_names %}
        {{ invoke_method(method_name, submit=not loop.last) }}
        {% endfor %}
    {% endfor %}
{% endmacro %}
