{% from "position_expression.j2" import position_expression %}
{% macro action_statements(statements) %}
    {% for statement in statements %}
        {% if statement.kind == StatementKind.LOCAL_POSITION %}
        {{ statement.local_position_name }} = literal.LocalPosition(
            "{{ statement.local_typed_name }}",
            {% if statement.constraints %}
            constraints=(
                {% for constraint in statement.constraints %}
                {{ constraint.module_name }}.{{ constraint.class_name }},
                {% endfor %}
            ),
            {% endif %}
        )
        {% elif statement.kind == StatementKind.CREATE_PARTICLE %}
        {{ position_expression(statement.position) }}.create_particle()
        {% elif statement.kind == StatementKind.MOVE_PARTICLE %}
        {{ position_expression(statement.position) }}.move_particle_to(
            {{ position_expression(statement.to_position, "    ") }}
        )
        {% elif statement.kind == StatementKind.DESTROY_PARTICLE %}
        {{ position_expression(statement.position) }}.destroy_particle()
        {% elif statement.kind == StatementKind.RUN_ACTION %}
        {{ position_expression(statement.position) }}.run()
        {% endif %}
        {% if statement.operation_label is not none %}
        literal.record_operation("{{ statement.operation_label }}")
        {% endif %}
    {% endfor %}
{% endmacro %}
