{% macro expression(statement, module_name) -%}
    {%- match statement -%}
        {%- when EncodingOperationStatement::InfixAdd with (statement) -%}
{{ statement.left }} + {{ statement.right }}
        {%- when EncodingOperationStatement::InfixIncrement with (statement) -%}
{{ statement.value }} + 1
        {%- when EncodingOperationStatement::Call with (statement) -%}
{{ statement.function.name_in_module(module_name) }}({{ statement.arguments|join(", ") }})
    {%- endmatch -%}
{%- endmacro -%}
def {{ self.function_name }}(
{%- for parameter in self.parameters -%}
    {{ parameter }}: float{% if !loop.last %}, {% endif %}
{%- endfor -%}
) -> {% if self.results.is_empty() -%}
    None
{%- else if self.results.len() == 1 -%}
    float
{%- else -%}
    tuple[
    {%- for result in self.results -%}
        float{% if !loop.last %}, {% endif %}
    {%- endfor -%}
    ]
{%- endif %}:
{%- for statement in self.statements %}
    {%- if loop.last && self.return_last_statement %}
    return {{ expression(statement, module_name) }}
    {%- else %}
        {%- match statement %}
            {%- when EncodingOperationStatement::InfixAdd with (infix_add) %}
    {{ infix_add.result }} = {{ expression(statement, module_name) }}
            {%- when EncodingOperationStatement::InfixIncrement with (infix_increment) %}
    {{ infix_increment.value }} = {{ expression(statement, module_name) }}
            {%- when EncodingOperationStatement::Call with (call) %}
    {% if !call.results.is_empty() %}{{ call.results|join(", ") }} = {% endif -%}
    {{ expression(statement, module_name) }}
        {%- endmatch %}
    {%- endif %}
{%- endfor %}
{%- if !self.results.is_empty() && !self.return_last_statement %}
    return {{ self.results|join(", ") }}
{%- endif %}{{ "\n" }}
