{% macro expression(statement, module_name) -%}
    {%- match statement -%}
        {%- when EncodingOperationStatement::BinaryOperation with (statement) -%}
{{ statement.left }} {% match statement.operator -%}
            {%- when BinaryOperator::Add -%}
+
            {%- when BinaryOperator::Subtract -%}
-
            {%- when BinaryOperator::Multiply -%}
*
            {%- when BinaryOperator::And -%}
and
            {%- when BinaryOperator::Or -%}
or
            {%- when BinaryOperator::ExclusiveOr -%}
^
            {%- endmatch %} {{ statement.right }}
        {%- when EncodingOperationStatement::PrefixOperation with (statement) -%}
            {%- match statement.operator -%}
                {%- when PrefixOperator::Negate -%}
-
                {%- when PrefixOperator::Not -%}
not{{ " " }}
            {%- endmatch -%}
{{ statement.operand }}
        {%- when EncodingOperationStatement::Call with (statement) -%}
{{ statement.function.name_in_module(module_name) }}({{ statement.arguments|join(", ") }})
    {%- endmatch -%}
{%- endmacro -%}
def {{ self.function_name }}(
{%- for parameter in self.parameters -%}
    {{ parameter.name }}: {{ parameter.python_type }}{% if !loop.last %}, {% endif %}
{%- endfor -%}
) -> {% if self.results.is_empty() -%}
    None
{%- else if self.results.len() == 1 -%}
    {{ self.results[0].python_type }}
{%- else -%}
    tuple[
    {%- for result in self.results -%}
        {{ result.python_type }}{% if !loop.last %}, {% endif %}
    {%- endfor -%}
    ]
{%- endif %}:
{%- for statement in self.statements %}
    {%- if loop.last && self.return_last_statement %}
    return {{ expression(statement, module_name) }}
    {%- else %}
        {%- match statement %}
            {%- when EncodingOperationStatement::BinaryOperation with (binary_operation) %}
    {{ binary_operation.result }} = {{ expression(statement, module_name) }}
            {%- when EncodingOperationStatement::PrefixOperation with (prefix_operation) %}
    {{ prefix_operation.result }} = {{ expression(statement, module_name) }}
            {%- when EncodingOperationStatement::Call with (call) %}
    {% if !call.results.is_empty() %}{{ call.results|join(", ") }} = {% endif -%}
    {{ expression(statement, module_name) }}
        {%- endmatch %}
    {%- endif %}
{%- endfor %}
{%- if !self.results.is_empty() && !self.return_last_statement %}
    return {% for result in self.results %}{{ result.name }}{% if !loop.last %}, {% endif %}{% endfor %}
{%- endif %}{{ "\n" }}
