{% include "file_header.j2" %}


class {{ definition.class_name }}(literal.GlobalPosition):
    _typed_name: ClassVar[str] = "{{ definition.typed_name }}"
{% if definition.constraint_refs %}
    constraints: ClassVar[list[literal.Constraint]] = [
{% for ref in definition.constraint_refs %}
        {{ ref.module_name }}.{{ ref.class_name }},
{% endfor %}
    ]
{% endif %}
{% if definition.has_init %}

    @override
    def after_assigned(self):
{% with statements=definition.statements %}
{% include "action_statements.j2" %}
{% endwith %}
{% endif %}
