class {{ pos.class_name }}(literal.GlobalPosition):
    _typed_name: ClassVar[str] = "{{ pos.typed_name }}"
{% if pos.constraint_class_names %}
    constraints: ClassVar[list[literal.Constraint]] = [
{% for name in pos.constraint_class_names %}
        {{ name }},
{% endfor %}
    ]
{% endif %}
{% if pos.has_init %}

    @override
    def after_assigned(self):
{% with statements=pos.statements %}
{% include "action_statements.j2" %}
{% endwith %}
{% endif %}
